@import "compass";
@import "normalize";
@import "config";
*{
  margin:0;
  padding:0;
  list-style: none;
}
a{
  text-decoration: none;
}
body{
  min-width:1140px;
  font-size: 14px;
  font-family:"Microsoft YaHei";
}
.clearfix{
  @include pie-clearfix();
}
//头部样式
header{
  width:100%;
  min-height:60px;
  background: $mainColor;
  position: relative;
  ul.nav{
    width:1140px;
    height:100%;
    line-height: 60px;
    margin:0 auto;
    li{
      float:left;
      padding:0 15px;
      margin-right:50px;
      color:$whiteColor;
      font-size:18px;
      &.selected{
        background: $hoverBgColor;
      }
      a{
        display: block;
        color:$whiteColor;
      }
      &>div:nth-child(1){
        cursor: pointer;
      }
      &>div:nth-child(2){
        display: none;
        position: absolute;
        top:60px;
        left:0;
        width:100%;
        background: $hoverBgColor;
        div{
          width:1140px;
          margin:0 auto;
          @include pie-clearfix();
          dl{
            padding:0 15px;
            float:left;
            margin-right:115px;
            line-height:normal;
            dt{
              color:$erWord;
              font-size:18px;
              margin:18px 0;
              a{
                color:$erWord;
              }
            }
            dd{
              font-size:14px;
              margin-bottom:26px;
              a{
                color:$whiteColor;
              }
            }
          }
        }
      }
    }
  }
}
