article .peo_infor { width: 1140px;margin: 20px auto;background:#d6e3f1;-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
article .peo_infor dl {padding:0 10px;height: 147px;float:left;}
article .peo_infor dl dt { width: 80px; height: 80px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; overflow: hidden; float: left; margin-top: 33px; border: 2px solid #bcb8b3; }
article .peo_infor dl dd { padding-left: 95px; margin-bottom: 4px; }
article .peo_infor dl dd:nth-child(2) { font-size: 18px; padding-top: 40px; }
article .show { width: 1140px; margin: 0 auto; padding: 30px 0 60px; }
article .show > dl { float: left; width: 400px; }
article .show > dl dt, article .show > dl dd { margin-bottom: 30px; *zoom: 1; }
article .show > dl dt:after, article .show > dl dd:after { content: ""; display: table; clear: both; }
article .show > dl dt p, article .show > dl dd p { float: left; line-height: 20px; width: 92px; cursor: pointer; }
article .show > dl dt span, article .show > dl dd span { color: #999999; }
article .show > dl dt img, article .show > dl dd img { float: left; width: 197px;height:auto;margin-top:-7px;margin-right:8px }
article .show > dl dt { font-size: 16px; }
article .show > dl dt p:hover, article .show > dl dt p.select { color: #164370; }
article .show > dl dd { height: 20px; }
article .show > dl dd > div { float: left; width: 197px; height: 10px; background: #bcb8b3; margin: 5px 8px 0 0; position: relative; }
article .show > dl dd > div div { position: absolute; top: 0; left: 0; height: 100%; opacity:0.7}
article .show > dl dd:nth-child(2) p:hover, article .show > dl dd:nth-child(2) p.select { color: #f15246; }
article .show > dl dd:nth-child(3) p:hover, article .show > dl dd:nth-child(3) p.select { color: #ffa627; }
article .show > dl dd:nth-child(4) p:hover, article .show > dl dd:nth-child(4) p.select { color: #f5cf53; }
article .show > dl dd:nth-child(5) p:hover, article .show > dl dd:nth-child(5) p.select { color: #2ebe50; }
article .show > dl dd:nth-child(6) p:hover, article .show > dl dd:nth-child(6) p.select { color: #3ac2ce; }
article .show > dl dd:nth-child(7) p:hover, article .show > dl dd:nth-child(7) p.select { color: #3674e6; }
article .show > dl dd:nth-child(8) p:hover, article .show > dl dd:nth-child(8) p.select { color: #803cd8; }
article .show > dl dd:nth-child(9) p:hover, article .show > dl dd:nth-child(9) p.select { color: #cd62c6; }
article .show > div { position: relative; float: left; width:740px;height:450px}
article .show > div > div { display: none; position: absolute; top: 0; left: 0; display: none; }
article .show > div #chartA, article .show > div #chartE, article .show > div .provSolv, article .show > div #chartF, article .show > div #chartG, article .show > div .abiThink, article .show > div #chartH ,.chartB,.chartD{ width: 740px; height: 450px; }
article .show > div .chartB #chartB1, article .show > div .chartB #chartB2, article .show > div .chartB #chartB3 { width: 200px; height: 200px;float:left ;margin:140px 0 0 32px}
article .show > div .chartC, article .show > div #chartH { width: 740px; margin-top: 100px; }
article .show > div .chartC #chartC1, article .show > div .chartC #chartC2, article .show > div .chartC #chartC3, article .show > div .chartC #chartH1, article .show > div .chartC #chartH2, article .show > div #chartH #chartC1, article .show > div #chartH #chartC2, article .show > div #chartH #chartC3, article .show > div #chartH #chartH1, article .show > div #chartH #chartH2 , article .show > div #chartH #chartH3{ width: 200px; height: 200px; float: left; margin-left:32px;}
article .show > div .chartC .hintword, article .show > div #chartH .hintword { float: left; width: 150px; height: 30px; margin: 30px 25px 0 58px; text-align: center; line-height: 30px; background: #2ebe50; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; color: #fff; }
article .show > div .chartD #chartD1, article .show > div .chartD #chartD2 { width: 200px; height: 200px; float:left;margin:140px 0 0 32px;}
article .show > div .chartD #chartD1 { margin-left:123px; }
article .show > div .provSolv { float: left; padding: 120px 0 0 66px; }
article .show > div .provSolv dd { height: 23px; margin-bottom: 50px; *zoom: 1; }
article .show > div .provSolv dd:after { content: ""; display: table; clear: both; }
article .show > div .provSolv dd p { float: left; line-height: 23px; width: 92px; }
article .show > div .provSolv dd span { color: #999999; line-height: 23px; }
article .show > div .provSolv dd > div { float: left; width: 300px; height: 23px; background: rgba(128, 60, 216, 0.5); margin: 0 8px 0 0; position: relative; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
article .show > div .provSolv dd > div div { position: absolute; top: 0; left: 0; height: 100%; background: #803cd8; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
article .show > div #chartH { height: auto }
/*article .show > div #chartH #chartH1,article .show > div #chartH #chartH2,article .show > div #chartH #chartH3{margin-left:0}*/
article .show.show1 dd:nth-child(4) p:hover, article .show.show1 dd:nth-child(4) p.select { color: #2ebe50; }
article div.contshow { height: 147px;float: right; width:790px;padding-right:10px}
article div.contshow p{margin-top:40px;line-height:24px;text-indent: 2em;color:#565554
}
