<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>国家财政性教育经费</title>
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="js/lib/jquery.selectbox/jquery.selectBox.css">
    <link rel="stylesheet" href="css/ep_eduExpense.css">
    <script src="js/lib/vue.js"></script>
    <!--<script src="js/lib/vue.min.js"></script>-->
    <script src="js/lib/jquery-3.2.1.min.js"></script>
    <script src="js/lib/echarts.min.js"></script>
    <script src="js/lib/china.js"></script>
    <script src="js/lib/dataTool.min.js"></script>
    <script src="js/lib/jquery.selectbox/jquery.selectBox.js"></script>
    <script src="js/public.js"></script>
    <script src="js/ep_eduExpense.js"></script>
</head>
<body>
<iframe width='0' height='0' frameborder='0' name='downFiles' id="downFiles" style="display: none" src=""></iframe>
<div id="header">
    <v_header></v_header>
</div>
<article id="app" class="main-container" v-cloak>
    <div class="mid">
    <aside class="breadcreab clearfix">
        <span class="text">区域教育治理</span><span>></span>
        <span class="text">教育投入</span><span>></span>
        <span class="text">经费</span>
        <span class="text">国家财政性教育经费</span>
        <!--<span class="info"></span>-->
        <!--<div class="msg">-->
            <!--包括公共财政预算内教育经费、各级政府征收用于教育的税费、企业办学中的企业拨款、校办产业和社会服务收入用于教育的经费等。-->
        <!--</div>-->
    </aside>
    <section class="periods clearfix triple">
        <ul>
            <li :class="{'periodSelect':ps==1}" @click="selectPhase(1)">小学</li>
            <li :class="{'periodSelect':ps==2}" @click="selectPhase(2)">初中</li>
            <li :class="{'periodSelect':ps==3}" @click="selectPhase(3)">高中</li>
        </ul>
    </section>
        <section class="navList">
            <ul class="clearfix">
                <li :class="{'nav-selected': chooseNav==1}" @click="selectNav(1)">
                    整体分析
                </li>
                <li :class="{'nav-selected': chooseNav==2}" @click="selectNav(2)">
                    地区比较
                </li>
            </ul>
        </section>
    <section class="contentWrap">
        <ol class="chartsArea" v-show="ps==1">
            <li class="content_li whole" v-show="chooseNav==1" style="height: 1100px;">
                <div class="zfmap clearfix">
                    <span class="green"></span><span class="hint">下载数据视图</span>
                    <a href="ditu.txt" download="ditu.txt" style="display: block" class="downFile"></a>
                    <div class="locate1">
                        <select name="standard-dropdown" class="standard-dropdown wide first-select"
                                id="selectbox_sort11">
                            <option value="" selected="selected">横坐标的排序方式</option>
                            <option :value="i.value" v-for="i in kind">{{i.label}}</option>
                        </select>
                    </div>
                    <div id="bjmap11" class="map" style="left:50px"></div>
                </div>
                <div class="earthmap clearfix">
                    <span class="green"></span>
                    <div id="chinamap11" class="map3" style="left:50px"></div>
                </div>

            </li>

            <li class="content_li part" v-show="chooseNav==2">
                <div class="ginimap clearfix">
                    <span class="green"></span>
                    <div class="locate2">
                        <div class="selectProvince">
                            <input type="text" class="" v-model="zxt_selected" @click="toggle" readonly
                                   unselectable="on">
                            <span class="arrowDown"></span>
                        </div>
                    </div>
                    <ol class="select-content clearfix">
                        <div class="clearfix">
                            <li class="left">
                                <div class="clearfix">
                                    <label for="" class="title">全部省份</label>
                                    <a href="javascript:void(0)" class="allSelect" @click="allSelect">全选</a>
                                </div>
                                <input type="text" class="searchPro" v-model="searchPro" placeholder="省份搜索">
                                <ul class="cities clearfix">
                                    <li :class="{'plr': (index+1)%3 != 0,'block-active':isActive}"
                                        v-for="(r,index) in filterRates" @click="selectCity(r)">{{r.name}}
                                    </li>
                                </ul>
                            </li>
                            <li class="right">
                                <div class="clearfix">
                                    <label for="">已选省份</label>
                                    <a href="javascript:void(0)" class="allRemove" @click="allRemove">全部清除</a>
                                </div>
                                <ul class="cities clearfix">
                                    <li :class="[{'plr': (index+1)%3 != 0},'block-active']"
                                        v-for="(r,index) in chooseRates">
                                        {{r.name}}
                                        <span class="closeIcon" @click="removeCity(r)"></span>
                                    </li>
                                </ul>
                            </li>
                        </div>
                        <a href="javascript:void(0)" class="select-submit" @click="renew">提交</a>
                    </ol>
                    <div id="zx_map11" class="map" style="left:50px;"></div>
                </div>
                <div class="xxmap clearfix">
                    <span class="green"></span>
                    <div id="xxmap11" class="suremap" style="left:50px;"></div>
                </div>
            </li>
        </ol>
        <ol class="chartsArea" v-show="ps==2">
            <li class="content_li whole" v-show="chooseNav==1" style="height: 1100px;">
                <div class="zfmap clearfix">
                    <span class="green"></span><span class="hint">下载数据视图</span>
                    <a href="ditu.txt" download="ditu.txt" style="display: block" class="downFile"></a>
                    <div class="locate1">
                        <select name="standard-dropdown" class="standard-dropdown wide first-select"
                                id="selectbox_sort22">
                            <option value="" selected="selected">横坐标的排序方式</option>
                            <option :value="i.value" v-for="i in kind">{{i.label}}</option>
                        </select>
                    </div>
                    <div id="bjmap22" class="map" style="left:50px"></div>
                </div>
                <div class="earthmap clearfix">
                    <span class="green"></span>
                    <div id="chinamap22" class="map3" style="left:50px"></div>
                </div>

            </li>

            <li class="content_li part" v-show="chooseNav==2">
                <div class="ginimap clearfix">
                    <span class="green"></span>
                    <div class="locate2">
                        <div class="selectProvince">
                            <input type="text" class="" v-model="zxt_selected" @click="toggle" readonly
                                   unselectable="on">
                            <span class="arrowDown"></span>
                        </div>
                    </div>
                    <ol class="select-content clearfix">
                        <div class="clearfix">
                            <li class="left">
                                <div class="clearfix">
                                    <label for="" class="title">全部省份</label>
                                    <a href="javascript:void(0)" class="allSelect" @click="allSelect">全选</a>
                                </div>
                                <input type="text" class="searchPro" v-model="searchPro" placeholder="省份搜索">
                                <ul class="cities clearfix">
                                    <li :class="{'plr': (index+1)%3 != 0,'block-active':isActive}"
                                        v-for="(r,index) in filterRates" @click="selectCity(r)">{{r.name}}
                                    </li>
                                </ul>
                            </li>
                            <li class="right">
                                <div class="clearfix">
                                    <label for="">已选省份</label>
                                    <a href="javascript:void(0)" class="allRemove" @click="allRemove">全部清除</a>
                                </div>
                                <ul class="cities clearfix">
                                    <li :class="[{'plr': (index+1)%3 != 0},'block-active']"
                                        v-for="(r,index) in chooseRates">
                                        {{r.name}}
                                        <span class="closeIcon" @click="removeCity(r)"></span>
                                    </li>
                                </ul>
                            </li>
                        </div>
                        <a href="javascript:void(0)" class="select-submit" @click="renew">提交</a>
                    </ol>
                    <div id="zx_map22" class="map" style="left:50px;"></div>
                </div>
                <div class="xxmap clearfix">
                    <span class="green"></span>
                    <div id="xxmap22" class="suremap" style="left:50px;"></div>
                </div>
            </li>
        </ol>
        <ol class="chartsArea" v-show="ps==3">
            <li class="content_li whole" v-show="chooseNav==1" style="height: 1100px;">
                <div class="zfmap clearfix">
                    <span class="green"></span><span class="hint">下载数据视图</span>
                    <a href="ditu.txt" download="ditu.txt" style="display: block" class="downFile"></a>
                    <div class="locate1">
                        <select name="standard-dropdown" class="standard-dropdown wide first-select"
                                id="selectbox_sort33">
                            <option value="" selected="selected">横坐标的排序方式</option>
                            <option :value="i.value" v-for="i in kind">{{i.label}}</option>
                        </select>
                    </div>
                    <div id="bjmap33" class="map" style="left:50px"></div>
                </div>
                <div class="earthmap clearfix">
                    <span class="green"></span>
                    <div id="chinamap33" class="map3" style="left:50px"></div>
                </div>

            </li>

            <li class="content_li part" v-show="chooseNav==2">
                <div class="ginimap clearfix">
                    <span class="green"></span>
                    <div class="locate2">
                        <div class="selectProvince">
                            <input type="text" class="" v-model="zxt_selected" @click="toggle" readonly
                                   unselectable="on">
                            <span class="arrowDown"></span>
                        </div>
                    </div>
                    <ol class="select-content clearfix">
                        <div class="clearfix">
                            <li class="left">
                                <div class="clearfix">
                                    <label for="" class="title">全部省份</label>
                                    <a href="javascript:void(0)" class="allSelect" @click="allSelect">全选</a>
                                </div>
                                <input type="text" class="searchPro" v-model="searchPro" placeholder="省份搜索">
                                <ul class="cities clearfix">
                                    <li :class="{'plr': (index+1)%3 != 0,'block-active':isActive}"
                                        v-for="(r,index) in filterRates" @click="selectCity(r)">{{r.name}}
                                    </li>
                                </ul>
                            </li>
                            <li class="right">
                                <div class="clearfix">
                                    <label for="">已选省份</label>
                                    <a href="javascript:void(0)" class="allRemove" @click="allRemove">全部清除</a>
                                </div>
                                <ul class="cities clearfix">
                                    <li :class="[{'plr': (index+1)%3 != 0},'block-active']"
                                        v-for="(r,index) in chooseRates">
                                        {{r.name}}
                                        <span class="closeIcon" @click="removeCity(r)"></span>
                                    </li>
                                </ul>
                            </li>
                        </div>
                        <a href="javascript:void(0)" class="select-submit" @click="renew">提交</a>
                    </ol>
                    <div id="zx_map33" class="map" style="left:50px;"></div>
                </div>
                <div class="xxmap clearfix">
                    <span class="green"></span>
                    <div id="xxmap33" class="suremap" style="left:50px;"></div>
                </div>
            </li>
        </ol>
    </section>
    </div>
    <section class="summaryBox">
        <div class="inside">
            <div class="title"><span>指标概述</span></div>
            <p>包括公共财政预算内教育经费、各级政府征收用于教育的税费、企业办学中的企业拨款、校办产业和社会服务收入用于教育的经费等。</p>
        </div>
    </section>
    <v_footer></v_footer>
</article>
</body>
</html>